body {
  max-height: 100vh;

  font-size: var(--ff-16);
  font-weight: var(--fw-500);
  font-family: var(--ff-primary), serif;
  line-height: var(--lh-150);

  display: grid;
  place-content: center;

  background-color: var(--clr-yellow);
}

a {
  text-decoration: none;
}

.container {
  max-width: 24em;

  @media (max-width: 52.125em) {
    max-width: 20.4375em;
  }
}