@mixin flex-container(
  $justify: flex-start,
  $align: stretch,
  $direction: row,
  $wrap: nowrap,
  $gap: 0
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
  gap: $gap;
}